@model NewProject.Models.GalleryIndexModel

<div class="container body-content">
    <div class="gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-images"></div>
            <spam>image.Title</spam>
            <ul>
                @foreach (var tag in image.Tags)
                {
                    <Li>
                        @tag.Description
                    </Li>
                }
            </ul>
        }
    </div>
</div>